header{
    background-color: #48A9A6;
}
footer{
    background-color: #48A9A6;
}

.products{
    background-color: #E4DFDA;
    border-bottom: 5px solid #2d2523;
    border-top: 5px solid #2d2523;
}

.checkout{
    background-color: #a25e49;
    min-height: calc(87.1vh);
    border-left: 5px solid #2d2523;
    border-bottom: 5px solid #2d2523;
    border-top: 5px solid #2d2523;
}